*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arrow {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.btmore {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  color: #fff;
}


/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: fixed;
    top: 0;
    width: 100%;

}

#menubar li {
    float: left;
}
#menubar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menubar li a:hover {
    background-color: #111;
}

#menubar li:last-child {
    border-right: none;
}
#small-img{
  height: 70px;
  width: 70px;
}
.section {
background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}

/*------------------------------------------nút add----------------------------------------------------------*/
@import "https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500";
html {
  background: #f8f7f2;
}



.menu, .button {
  width: 100px;
  height: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu {
  position: fixed;
  right: 50px;
  bottom: 50px;
  -webkit-transition: -webkit-transform 1.125s cubic-bezier(0.39, 1.52, 0.46, 0.92);
  transition: -webkit-transform 1.125s cubic-bezier(0.39, 1.52, 0.46, 0.92);
  transition: transform 1.125s cubic-bezier(0.39, 1.52, 0.46, 0.92);
  transition: transform 1.125s cubic-bezier(0.39, 1.52, 0.46, 0.92), -webkit-transform 1.125s cubic-bezier(0.39, 1.52, 0.46, 0.92);
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  cursor: pointer;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  mix-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 33%;
  font: 25px/100px Alegreya Sans, sans-serif;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.39, 1.52, 0.46, 0.92);
  transition: -webkit-transform 0.5s cubic-bezier(0.39, 1.52, 0.46, 0.92);
  transition: transform 0.5s cubic-bezier(0.39, 1.52, 0.46, 0.92);
  transition: transform 0.5s cubic-bezier(0.39, 1.52, 0.46, 0.92), -webkit-transform 0.5s cubic-bezier(0.39, 1.52, 0.46, 0.92);
  will-change: transform;
}
.button.closed {
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
}

.main {
  color: #030f01;
  text-align: center;
  mix-blend-mode: normal;
  line-height: 100px;
  box-shadow: 0 0 0 5px rgba(3, 15, 1, 0.1);
  -webkit-transition: border-color 0.5s, color 0.5s;
  transition: border-color 0.5s, color 0.5s;
  will-change: color, border-color, background;
}
.closed .main {
  color: #f8f7f2;
  box-shadow: 0 0 0 5px rgba(3, 15, 1, 0);
}

.home {
  background-color: #1ba5cd;
  top: 0%;
  left: 225%;
  background-image: url(https://bennettfeely.com/cdpn/home.svg);
  -webkit-transition-duration: 0.525s;
          transition-duration: 0.525s;
}
.closed .home {
  -webkit-transform: translate3d(-225%, -10%, 0) rotate(-180deg);
          transform: translate3d(-225%, -10%, 0) rotate(-180deg);
}

.music {
  background-color: #1ab254;
  top: 86.10368%;
  left: 207.873%;
  background-image: url(https://bennettfeely.com/cdpn/music.svg);
  -webkit-transition-duration: 0.675s;
          transition-duration: 0.675s;
}
.closed .music {
  -webkit-transform: translate3d(-198.36244%, -89.19384%, 0) rotate(-180deg);
          transform: translate3d(-198.36244%, -89.19384%, 0) rotate(-180deg);
}

.messages {
  background-color: #fec72e;
  top: 159.09908%;
  left: 159.09908%;
  background-image: url(https://bennettfeely.com/cdpn/messages.svg);
  -webkit-transition-duration: 0.825s;
          transition-duration: 0.825s;
}
.closed .messages {
  -webkit-transform: translate3d(-153.22122%, -151.00892%, 0) rotate(-180deg);
          transform: translate3d(-153.22122%, -151.00892%, 0) rotate(-180deg);
}

.places {
  background-color: #fa7d39;
  top: 207.873%;
  left: 86.10368%;
  background-image: url(https://bennettfeely.com/cdpn/places.svg);
  -webkit-transition-duration: 0.975s;
          transition-duration: 0.975s;
}
.closed .places {
  -webkit-transform: translate3d(-91.98154%, -199.78284%, 0) rotate(-180deg);
          transform: translate3d(-91.98154%, -199.78284%, 0) rotate(-180deg);
}

.bookmark {
  background-color: #ee5656;
  top: 225%;
  left: 0%;
  background-image: url(https://bennettfeely.com/cdpn/bookmark.svg);
  -webkit-transition-duration: 1.125s;
          transition-duration: 1.125s;
}
.closed .bookmark {
  -webkit-transform: translate3d(-9.51056%, -228.09016%, 0) rotate(-180deg);
          transform: translate3d(-9.51056%, -228.09016%, 0) rotate(-180deg);
}

/*----------------nút add--------------*/